/* Theme Variables */


/* Base Styling */
body #level-page {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-light);
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark-mode #level-page {
    background-color: var(--background-color);
    color: var(--text-dark);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        color: transparent;
    }
    to {
        opacity: 1;
    }
}

.sentence{
    background: linear-gradient(to right, purple, red);
    background-clip: text;
}

span.letter{
    padding: .01em;
    animation: fadeIn 3s ease-out;
}


.correct {
    background-color: var(--primary-color);
}

.incorrect {
    background-color: var(--incorrect-color);
}

.dark-mode #level-page .sentence {
    border: 1px solid white;
}

/* Typography */
#level-page .wpm {
    font-size: 24px;
    margin-bottom: 20px;
}

#level-page .sentence {
    width: 60%;
    min-width: 320px;
    border: 1px solid black;
    padding: 30px;
    line-height: 1.5;
    font-size: 24px;
    margin-bottom: 20px;
}

#level-page .sentence span {
    padding-right: 5px;
}



/* Buttons */
#level-pagebutton.next, button.toggle-dark-mode {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#level-page button.toggle-dark-mode {
    margin-top: 20px;
}

